# Windows 略過的檔案
[Tt][Hh][Uu][Mm][Bb][Ss].[Dd][Bb]
[Tt][Hh][Uu][Mm][Bb][Ss].[Dd][Bb].meta

# mac OS 略過的檔案
.DS_Store

# Jetbrains
.idea

# 要略過的 Visual Studio (Code) 相關副檔名
.vs
.vscode
.vsconfig
*.csproj
*.sln

# Unity Editor 依平台所產生的資料夾(僅略過根目錄)
/[Bb]uild/
/[Ll]ibrary/
/[Ll]ogs/
/[Oo]bj/
/[Tt]emp/
/[Uu]ser[Ss]ettings/

# 略過 com.unity.memoryprofiler 產生的資料夾
/[Mm]emory[Cc]aptures/

# 略過所有~開頭的檔案/資料夾
~*

# 要特別略過的清單
/Packages/packages-lock.json
/ProjectSettings/boot.config
/ProjectSettings/EditorBuildSettings.asset
/ProjectSettings/MaintainerSettings.asset
/ProjectSettings/Packages/*
/Ida Faber

# 略過 Addressables 自動產生的檔案
/Assets/AddressableAssetsData/Android
/Assets/AddressableAssetsData/Android.meta
/Assets/AddressableAssetsData/iOS
/Assets/AddressableAssetsData/iOS.meta
/Assets/AddressableAssetsData/Windows
/Assets/AddressableAssetsData/Windows.meta
/Assets/AddressableAssetsData/Linux
/Assets/AddressableAssetsData/Linux.meta

/Assets/_TerrainAutoUpgrade
/Assets/_TerrainAutoUpgrade.meta

# 略過 com.unity.build-report-inspector 產生的報表檔
/Assets/BuildReports
/Assets/BuildReports.meta

InitCodeMarker
